.Rproj.user
.Rhistory
.RData
.Ruserdata
clean-data/cuadrantes.csv
clean-data/cuadrantes-hoyodecrimen.csv
*.png
*.csv
*.csv.zip
*.zip
*.xlsx
*.RData
*.xls
solicitudes/*
secrets-b2.yml
campaign



clean-data/json/crime_trends.json
clean-data/json/homicides.geojson
data/colonias/
old-ssp-data/
report/
